[Unit]
Description=skirnir-router Secrets rendern (Boot + taeglich)

[Timer]
Unit=skirnir-router-secrets-refresh.service
OnBootSec=40
OnCalendar=daily
RandomizedDelaySec=1800
Persistent=true

[Install]
WantedBy=timers.target
